
.userList:nth-child(odd){
  background-color: whiteSmoke;
}
.userList {
  padding:10px 0px 0px 10px;
}
#bigList{
  height:100vh;
  overflow-y: scroll;
}
.modal-content{
  top:150px !important;
}
@media screen and (max-width: 767px) {
  #bigList{
    height: 30vh;
    margin-bottom: 20px;
    border: solid 1px whitesmoke;
  }
}
