<h1>
  {{title}}
</h1>
<div class="container">

  <div class="row">

    <div class="col-md-1">
      <app-menu></app-menu>
    </div>
    <div class="col-md-3" id="bigList">
        <div id="test" class="row userList"  *ngFor="let item of collection">
          <p><a href="#" (click)="getDetails($event)" id="{{item.idUsers}}">{{item.Prenom}} {{item.Nom}}</a></p>
        </div>
    </div>
    <div class="col-md-7">
      <app-details [currentU]='currentUser'></app-details>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <p>Merci de vous identifier (demo:123)</p>
            <div class="alert alert-warning" [ngStyle]="{'display':advertising ? 'block':'none'}">
              <strong>Désolé, </strong> mauvais mot de passe ou login...
            </div>
            <form #itemForm="ngForm">
              <input [(ngModel)]="login" name="identifiant" placeholder="login"/>
              <input [(ngModel)]="pass" name="pass" placeholder="pass"/>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="hideModal()">Connection</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

</div>
